#input:focus {
outline: none;
border: solid 2px green;
border-radius: 2px;
}

#button {
   width: 30px;
   border-radius: 15px;   
}

.textValid {
   color: green;
}

.textInValid {
outline: none;
border: solid 2px red;
border-radius: 2px;
}

